@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 45px;
    color: #777;
    background: white;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.contact input[type="password"],
.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact input[type="url"],
.contact textarea,
.contact input[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

.contact {
    background: #F9F9F9;
    padding: 40px 40px 40px 40px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 100%;
    height: 100%;
}

.contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

.contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

.contact input[type="password"],
.contact input[type="date"],
.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact input[type="url"],
.contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}
.contact input[type="password"]:hover,
.contact input[type="text"]:hover,
.contact input[type="email"]:hover,
.contact input[type="tel"]:hover,
.contact input[type="url"]:hover,
.contact textarea:hover {
    border: 1px solid #aaa;
}


.contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4b005b;
    color: #FFF;
    margin: 0 0 5px;
    padding: 15px;
    font-size: 15px;
}

.contact button[type="submit"]:hover {
    background: blueviolet;
    transition: background-color 0.3s ease-in-out;
}

.contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#date{
    color: #777777;
}

#mdp{
    width: 400px;
}

.logo{
    position: relative;
    top: 48px;
    left: 523px;
}

form a {
    margin-right: 30px;
    font-weight: bold;
}

form label{
    margin-right: 15px;
}
.fa-heartbeat{
    color: #836098;
    position: absolute;
    right: 390px;
    top: 60px;
    transform: rotate(25deg);

}

#dating {
    height: 192px;
    width: 265px;
    position: absolute;
    left: 174px;
    bottom: 400px;
    transform: rotate(-5deg);
}

h1{
    color: #836098;

}

.gender{
    position: absolute;
    top: 625px;
    left: 145px;
    color: #836098;
}

.fa-venus-mars:before{
    padding-right: 60px;
}

.fa-venus-double:before{
    padding-right: 60px;
}
