@media screen and (max-width: 1024px){
   body{
       width: auto;
   }
}

@media screen and (max-width: 480px){
    body{
        width: auto;
    }
}

@media screen and (max-width: 750px){
    body{
        width: auto;
    }
}


