#navBar a, #part2 a, .lien a {
    text-decoration: none;
}

.adresse, .email, .support, .tel {
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

#part2 a, #part2 span, .billet a {
    font-style: italic;
}

body {
    line-height: 1;
    background-image: url(misc/grille.png);
    font-family: "Roboto", sans-serif;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#part1 {
    color: #969696;
    width: 940px;
    margin: auto;
    min-height: 180px;
}

h1 {
    padding-top: 40px;
}

#navBar .activites .title_navBar + li, #navBar .hotel .title_navBar + li, #navBar .plus .title_navBar + li, #navBar .restaurants .title_navBar + li, #navBar .services .title_navBar + li {
    padding-top: 10px;
}

#navBar {
    float: right;
    width: 720px;
    min-height: 100px;
    margin-top: -100px;
}

#navBar div {
    float: left;
    padding-left: 30px;
}

#navBar a {
    font-weight: 700;
    font-size: 1em;
    color: #969696;
}

#navBar .title_navBar {
    border-bottom: 5px solid;
    list-style: none;
    padding-bottom: 10px;
}

#navBar .activites li, #navBar .hotel li, #navBar .plus li, #navBar .restaurants li, #navBar .services li {
    padding-bottom: 15px;
    font-weight: 700;
}

#navBar .hotel .title_navBar {
    border-color: #f76900;
    font-size: 1em;
}

#navBar .hotel li {
    font-size: .8em;
}

#navBar .restaurants .title_navBar {
    border-color: #fcd04a;
    font-size: 1em;
}

#navBar .restaurants li {
    font-size: .8em;
}

#navBar .services .title_navBar {
    border-color: #b9d482;
    font-size: 1em;
}

#navBar .services li {
    font-size: .8em;
}

#navBar .activites .title_navBar {
    border-color: #3d92c2;
    font-size: 1em;
}

#navBar .activites li {
    font-size: .8em;
}

#navBar .plus .title_navBar {
    border-color: #c078d0;
    font-size: 1em;
}

#part2, .slogan, .youtube {
    border-bottom: 1px solid #e1e1e1;
}

#part2, .slogan p, object {
    padding-top: 30px
}

#navBar .plus li {
    font-size: .8em
}

.info {
    background-color: #fff;
    width: 100%;
    height: 10px
}

.youtube {
    background-color: #fff;
    border-top: 1px solid #e1e1e1
}

object {
    padding-bottom: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 390px
}

.slogan {
    margin-top: 0px;
    min-height: 85px

}

.slogan p {
    text-align: center;
    font-size: 1em;
    color: #969696
}

.slogan .info {
    background-color: #fff;
    margin-top: 30px
}

#part2 {
    background-color: #fff;
    padding-bottom: 130px
}

.golf, .images img {
    border: 1px solid #c8c8c8
}

#rubrique {
    width: 940px;
    margin: auto
}

#part2 h2 {
    font-size: 1.5em;
    color: #f76900
}

#part2 span {
    font-size: .8em;
    color: #c8c8c8
}

#part2 p {
    color: #969696;
    font-size: .7em;
    width: 180px
}

#part2 a {
    color: #c8c8c8
}

.golf {
    width: 220px;
    padding-left: 10px;
    padding-top: 25px;
    padding-bottom: 25px
}

.accrobranche {
    float: right;
    margin-top: -265px;
    margin-right: 485px
}

.fast_foods {
    float: right;
    margin-top: -115px;
    margin-right: 510px
}

.comment {
    float: right;
    margin-top: -265px;
    margin-right: 270px
}

.images {
    float: right;
    margin-top: -140px;
    margin-left: 465px
}

.images img {
    padding: 10px;
    margin: 5px
}

#part3 {
    min-height: 220px;
    width: 940px;
    margin: auto
}

#part3 h3 {
    font-size: 1.1em;
    color: #969696;
    padding-bottom: 20px
}

#part3 p .date {
    font-size: .8em;
    font-style: italic;
    color: #c8c8c8
}

#part3 p span {
    font-weight: 700;
    color: #e1e1e1;
    font-size: .8em
}

.contact a, .contact p {
    color: #afafaf
}

.contact {
    margin: auto auto auto 0;
    padding-top: 30px;
    max-width: 185px
}

.billet, .blablaland, .derComment {
    margin-top: -165px;
    float: right
}

.contact p {
    font-size: 1em;
    padding-left: 20px;
    padding-bottom: 10px
}

.adresse {
    background-image: url(misc/accueil_icone.png)
}

.tel {
    background-image: url(misc/telephone_icone.png)
}

.email, .support {
    background-image: url(misc/mail_icone.png)
}

.billet {
    margin-right: 505px;
    max-width: 200px
}

.billet a {
    text-transform: none;
    color: #c8c8c8
}

.derComment {
    margin-right: 215px;
    max-width: 240px
}

.blablaland {
    max-width: 190px
}

#footer #contenu, #footer .lien {
    width: 940px;
    margin: auto
}

#footer {
    border-top: 1px solid #e1e1e1;
    min-height: 115px;
    background-color: #fff
}

#footer .lien {
    padding-top: 25px;
    color: #969696
}

.lien a {
    padding-right: 10px;
    color: #969696
}

#footer .reseaux {
    float: right;
    margin-bottom: 20px;
}

.space {
    background-color: #fff;
    width: 100%;
    height: 12px

}

p{
    font-family: 'Oswald', sans-serif;
    color: #969696;
}
