body {
    text-align: center;
}

#puissance4 {
    background-color: lightslategrey;
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
}

.col {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}

.col.empty {
    cursor: pointer;
}

.next-rouge {
    background-color: darkred;
}

.next-noir {
    background-color: gray;
}

.col.rouge {
    background-color: red;
}

.col.noir {
    background-color: black;
}

h4{
    font-size: 2em;
    font-weight: bold;
    font-family: sans-serif;
    color: dimgrey;
    margin-bottom: 4px;
}

#restart{
    display: inline-block;
    border-radius: 4px;
    background-color: gray;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 12px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}